@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family:'Poppins';
}
.box{
    height: 60px;
    overflow:hidden;
    text-wrap: wrap;
}
.info{
    width: 100%;
    min-height: 5rem;
    max-height: 220px;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
    font-size: small;
    align-self: stretch;
}
.ticket{
    font-size:small;
}
h2{
    font-weight: 600;
    }
