@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Macondo&display=swap');
*{
 /* text-decoration-skip: unset; */
 color: brown;
 text-transform:uppercase;
 /* font-family: "Macondo", cursive; */
 font-family: "Google Sans", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}
h1{
    text-align: center;
    /* text-transform:none; */
    color: darkmagenta;
   }
   nav{
    text-align: center;
    border: double;
    padding: 20px ;
   }
   a{
    text-decoration: none;
   }
   button{
    margin: 0 5px;
   }
   /* table {
    border: 2px;
    padding: 10px;
   } */
    table {
  /* Makes borders between cells look like a single line */
  
   width: 50%; 
  padding: 10px; 
  text-align: left; 
}
td{
    border: 1px solid black;
    /* color:blueviolet; */
}
.th1{
    color: blue;
    font-weight: 900;
    }

